[submodule "thirdparty/dv-processing"]
	path = thirdparty/dv-processing
	url = https://gitlab.com/inivation/dv/dv-processing.git
[submodule "external/dv-processing"]
	path = external/dv-processing
	url = https://gitlab.com/inivation/dv/dv-processing.git
